<nav class="navbar navbar-expand-lg navbar-dark app-bg-green-primary">
<div class="container-fluid ps-0">
  <a class="btn app-color-blue-dark" href="<%= student_messages_path %>"><i class="fa-solid fa-arrow-left fs-4" ></i></a>
  <a class="navbar-brand me-auto tw-bold" href="#">消息</a>
</div>
</nav>

<div class="container-md">
    <div class="row">
    <div class="col-12 mt-4 mb-3 fs-2 fw-bold text-center">
        <%=@message.title%>
    </div>
    <div class="col-12 fs-4 fw-light" style="white-space: pre-wrap"><%=@message.content%></div>
    </div>
</div>