
<nav class="navbar navbar-expand-lg navbar-dark app-bg-green-primary">
<div class="container-fluid">
  <a class="navbar-brand fw-bold" href="#">Health++管理端</a>
  <a class="btn app-color-blue-dark ms-auto" href="<%= admin_announcement_path %>">
    <i class="fa-solid fa-pen"></i>
  </a>
  <a class="btn app-color-blue-dark" href="<%= admin_password_path %>">
    <i class="fa-solid fa-key"></i>
  </a>
  <form method="delete" action="<%= login_path %>" class="button-to">
    <button type="submit" class="btn app-color-blue-dark"><i class="fa-solid fa-right-from-bracket"></i></button>
  </form>
</div>
</nav>
