<nav class="navbar navbar-expand-lg navbar-dark app-bg-green-primary">
<div class="container-fluid ps-0">
  <a class="btn app-color-blue-dark" href="<%= admin_home_path %>"><i class="fa-solid fa-arrow-left fs-4" ></i></a>
  <a class="navbar-brand me-auto tw-bold" href="#">修改密码</a>
</div>
</nav>

<%= render 'layouts/flash_toast' %>

<div class="container-md pt-5 pb-5 px-4">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
        <form method="post" action="<%= admin_password_path %>" class="needs-validation" novalidate>
            <div class="input-group mb-4">
              <span class="input-group-text">学号</span>
              <input type="text" name="id" class="form-control", required>
              <div class="invalid-feedback">
                必填
              </div>
            </div>     
            
            <div class="input-group mb-5">
              <span class="input-group-text">新密码</span>
              <input type="password" name="password" class="form-control", required>
              <div class="invalid-feedback">
                必填
              </div>
            </div>  
            <div class="invalid-feedback">
                必填
            </div>
            <input type="submit" class="button-submit d-block mx-auto" name="commit" value="修改">
        </div>
        </form>
        </div>
    </div>
</div>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

document.querySelectorAll('.increment-button').forEach( button => {
    button.addEventListener('click', () => button.previousElementSibling.stepUp(button.previousElementSibling.dataset.incr) )
    button.addEventListener('dblclick', (event) =>  event.preventDefault() )
}
);

document.querySelectorAll('.decrement-button').forEach( button => {
    button.addEventListener('click', () => button.nextElementSibling.stepDown(button.nextElementSibling.dataset.incr) )
    button.addEventListener('dblclick', (event) =>  event.preventDefault() )
}
);

</script>