<nav class="navbar navbar-expand-lg navbar-dark app-bg-green-primary">
<div class="container-fluid">
  <a class="navbar-brand fw-bold" href="#">Health++校医端</a>
  <a class="btn app-color-blue-dark ms-auto" href="<%= doctor_message_path %>"><i class="fa-solid fa-pen"></i></a>
</div>
</nav>