/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --green-primary: #5DB075;
    --green-secondary: #ABE794;
    --gray-primary: #BDBDBD;
    --gray-secondary: #F6F6F6;
    --gray-border: #E8E8E8;
    --red-primary: rgba(255, 0, 0, .78);
    --blue-dark: #5d5a88;
 }

/* buttons */

 .button-submit {
    background: var(--green-primary);
    color: white;
    border-radius: 100px;
    border-style: none;
    width: 96px;
    height: 51px;
 }

 .button-cancel {
    background: var(--gray-secondary);
    color: var(--gray-primary);
    border-radius: 100px;
    border-style: none;
    width: 96px;
    height: 51px;
 }

 .button-danger {
    background-color: var(--gray-secondary);
    color: var(--red-primary);
    border-radius: 100px;
    border-style: none;
    width: 96px;
    height: 51px;
 }

button.decrement-button {
   border-right: 0px;
   border-color: var(--gray-border);
}

button.increment-button {
   border-left: 0px;
   border-color: var(--gray-border);
}

.app-color-blue-dark {
   color: var(--blue-dark) !important;
}

/* form elements */

 .text-field {
    background-color: var(--gray-secondary) !important;
    border: 1px solid var(--gray-border);
    border-radius: 8px !important;
 }

 .label {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
}

 .floating-label {
    color: var(--gray-primary);
 }

 .checkbox:checked {
   background-color: var(--green-primary) !important;
}

.increment-field {
   border-left: 0px !important;
   border-right: 0px !important;
   border-color: var(--gray-border) !important;
}

 /* text */

 .title {
    color: var(--green-primary);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 250;
    font-size: 40px;
 }

 .home-content {
      color: var(--green-primary);
      font-family: 'Lato';
      font-style: normal;
      font-weight: 250;
      font-size: 30px;
}

.message-doctor {
   font-weight: 600 !important;
   font-size: 16px !important;
   color: var(--green-primary) !important;
   text-decoration: none;
}

.message-unread {
   font-weight: 500 !important;
   font-size: 16px !important;
   color: var(--gray-primary) !important;
   text-decoration: none;
}

.message-announcement {
   font-weight: 600 !important;
   font-size: 16px !important;
   color: var(--red-primary) !important;
   text-decoration: none;
}

.icon-unread {
   color: var(--gray-primary);
}

.icon-announcement {
   color: var(--red-primary);
}

.icon-doctor {
   color: var(--green-primary);
}

/* navigation bar */

.app-bg-green-primary {
    background-color: var(--green-primary);
}

@media (max-width: 992px) {
    .navbar-collapse{
        background-color: var(--green-secondary);
        margin-top: 8px;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -8px;
    }  

    .nav-link {
      padding-left: 16px !important;
    }

    .nav-link:hover {
      background-color: rgba(0,0,0,0.075);
    }
  }


  /* others */

.icon {
    width: 20px !important;
}


.box-shadow {
   -webkit-box-shadow: 0 1px 1px rgba(72,78,85,6);
   box-shadow: 0 1px 1px rgba(72,78,85,6);
   -webkit-transition: all .2s ease-out; 
   -moz-transition: all .2s ease-out;
   -ms-transition: all .2s ease-out;
   -o-transition: all .2s ease-out;
   transition: all .2s ease-out;

}

.box-shadow:hover {
   -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
   box-shadow: 0 20px 40px rgba(72,78,85,.6);
   -webkit-transform: translateY(-15);
   -moz-transform: translateY(-15);
   -ms-transform: translateY(-15);
   -o-transform: translateY(-15);
   transform: translateY(-15);
}



.card:hover{
   transform:scale(1.1);
}

.card{
 transition:.3s;
}